language: r
sudo: false
cache: 
  packages: true
  directories:
    - _bookdown_files

script:
  - Rscript -e 'bookdown::render_book("index.rmd")'
  
before_deploy:
  - npm install netlify-cli -g
  - npm run build

deploy:
  provider: script
  script: netlify deploy -s $NETLIFY_SITE_ID -t $NETLIFY_ACCESS_TOKEN -p ./build
  skip_cleanup: true
  on:
    branch: master